.header{
    display: flex;
  
    

    &-content{
        // background-color: palegoldenrod;
        width: 50%;
        margin: 0 10rem 8rem 15rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        svg {
            width: 287px;
            height: 139px;
        }
    }

    &-banner{
        
        background: url("/img/main.png")  no-repeat;
        background-size: cover;
      
        width: 100%;
height: 100%;
    }
}